// Nova Tool CSS
:root {
  --v-theme-primary: var(--primary) !important;
}
.border-40 {
  border-color: #eef1f4 !important;
}
.border-b.border-40 {
  border-color: #eef1f4 !important;
  border-block-end-color: #eef1f4 !important;
}
.border-50 {
  border-color: #e3e7eb !important;
}
.border-b.border-50 {
  border-color: #e3e7eb !important;
  border-block-end-color: #e3e7eb !important;
}
.fresh-tap-editor.mx-auto {
  margin-left: 0 !important;
  margin-right: auto;
}
.text-primary {
  color: var(--primary) !important;
}
