<template>
  <default-field :field="field" :errors="errors" :show-help-text="showHelpText" full-width-content>
    <template slot="field">
      <div ref="wysiwyg"></div>
    </template>
  </default-field>
</template>

<script>
import axios from 'axios'
import { FormField, HandlesValidationErrors } from 'laravel-nova'
import { FreshTap } from 'fresh-tap'
import 'fresh-tap/dist/style.css'

export default {
  mixins: [FormField, HandlesValidationErrors],

  props: ['resourceName', 'resourceId', 'field'],
  
  data () {
    return {
      freshTap: null
    }
  },
  
  mounted () {
    this.init()
  },

  methods: {
    /*
     * Set the initial, internal value for the field.
     */
    setInitialValue() {
      this.value = this.field.value || ''
    },

    /**
     * Fill the given FormData object with the field's internal value.
     */
    fill(formData) {
      formData.append(this.field.attribute, this.value || '')
    },
    
    init() {
      const props = {
        initialValue: this.field.value || '',
        uploadImage: this.uploadImage
      }
      
      if (this.field.editorStyles) {
        props.editorStyles = this.field.editorStyles
      }

      if (this.field.previewUrl) {
        props.previewUrl = this.field.previewUrl
      }

      if (this.field.previewSelector) {
        props.previewSelector = this.field.previewSelector
      }

      if (this.field.previewWrapperElement) {
        props.previewWrapperElement = this.field.previewWrapperElement
      }

      if (this.field.keepEmptyParagraphLineBreaks) {
        props.keepEmptyParagraphLineBreaks = this.field.keepEmptyParagraphLineBreaks
      }

      this.freshTap = FreshTap(props)

      this.$refs.wysiwyg.addEventListener('value-updated', (e) => {
        this.value = e.detail.newValue
      })

      this.$refs.wysiwyg.appendChild(this.freshTap)
      
      this.$nextTick(this.overrideStyles)
    },
    
    // TODO: change this to be overridable in the base package.
    overrideStyles() {
      const css = `
        :root {
          --v-theme-primary: var(--primary) !important;
        }
        .border-40 {
          border-color: #eef1f4 !important;
        }
        .border-b.border-40 {
          border-color: #eef1f4 !important;
          border-block-end-color: #eef1f4 !important;
        }
        .border-50 {
          border-color: #e3e7eb !important;
        }
        .border-b.border-50 {
          border-color: #e3e7eb !important;
          border-block-end-color: #e3e7eb !important;
        }
        .fresh-tap-editor.mx-auto {
          margin-left: 0 !important;
          margin-right: auto;
        }
        .btn-primary {
          background-color: var(--primary);
        }
        .text-primary {
          color: var(--primary) !important;
        }
      `
      
      const style = document.createElement('style')
      style.innerHTML = css
      
      document.head.appendChild(style)
    },
    
    async uploadImage(file) {
      try {
        const formData = new FormData()
        
        formData.append('file', file)
        
        const { data } = await axios.post('/nova-vendor/fresh-tap/image/upload', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })

        return data
      } catch (e) {
        Nova.error('Error uploading image.')
      }
    }
  },
}
</script>
